NEXT_PUBLIC_STRAPI_URL=http://localhost:1337

//captcha
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAC91KiM-AAJsjF9w
TURNSTILE_SECRET_KEY=0x4AAAAAAC91Klt1oIOdQJMSf7y-vFgn1Uo
TURNSTILE_EXPECTED_HOSTNAME=localhost

EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_USER=user@example.com
EMAIL_PASS=your_email_password
EMAIL_TO=info@example.com
